<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
커피 전문점 홈페이지<p/>
[메뉴 1] [메뉴 2]
<a href="coffee/survey">[커피브랜드 설문조사]</a>
<a href="coffee/surveyshow">[분석결과]</a>

<br>
<img src='/static/images/coffee.jpg' alt="커피는 아름다워">
<br>
Cherry Blossom Ice Blended
체리블라썸 아이스 블렌디드(R)
부드럽고 달콤한 바닐라와 새콤달콤한 체리가 블렌딩된 아이스 블렌디드
<br>
Cherry Blossom Ice Blended
체리블라썸 아이스 블렌디드(S)
부드럽고 달콤한 바닐라와 새콤달콤한 체리가 블렌딩된 아이스 블렌디드
<br>
Pineapple Hallabong Yogurt Ice Blended
파인 한라봉 요거트 아이스 블렌디드
제주 한라봉과 파인애플 과육을 듬뿍 넣고, 유기농 아가베 시럽으로 달콤한 맛을 낸 생요거트 아이스 블렌디드
</body>
</html>